body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}


.battle-ship-bg {
    height: 863px;
    width: 1024px;
    margin: auto;
    background-image: url('board.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.board {
    position: relative;
    height: 100%;
}

#messageArea,
#messageShipsSunk {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    color: rgb(83, 175, 19);
    letter-spacing: 3px;
    transition: all .4s;
}

#messageArea {
    top: 2.2rem;
    left: 1rem;
}

#messageShipsSunk {
    top: 2.2rem;
    right: 3rem;
}

.hit {
    background: url('ship.png') no-repeat center center;
    transition: all .3s;
}

.miss {
    background: url('miss.png') no-repeat center center;
    transition: all .25s;
}

table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}

td {
    width: 94px;
    height: 94px;
    /* border: 1px solid red; */
}

form {
    position: absolute;
    bottom: -2.4rem;
    right: 0px;
    padding: 15px;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1.4rem;
}

#fireButton {
    cursor: pointer;
}